.container{
  width: 100%;
  height: 100%;
  padding: 0 15px;
}
.add_new_item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  margin-top: 20px;
  cursor: pointer;
  background-color: #87b003;
  color: white;
  &:hover {
    border: 2px solid white;
  }
}